{% extends 'front/layout.html' %}

{% block content %}
    <br />
    <div class="col-sm-2">
        <div class="well well-sm">
            <table class="table text-center">
                <tr>
                    <td>Times</td>
                    <td>Captchas</td>
                    <td>Wallets</td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group-vertical">
                            <div class="btn">dwf</div>
                            <div class="btn">dwfd</div>
                            <div class="btn">dwsdf</div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            {% for captcha in captchas %}
                                <div class="btn">{{ captcha.title_en }}</div>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <div class="btn">dwf</div>
                            <div class="btn">dwfd</div>
                            <div class="btn">dwsdf</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-10">
        <table class="table table-bordered table-hover">
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
        </table>
    </div>
{% endblock %}