{% load staticfiles %}
{% load hosts %}
{% load crypto_currency %}
<!DOCTYPE html>
<html {% if global_color_inverse %} class="uni-inverse" {% endif %} >
    <head>
        <title>UniQoins.com</title>

        <meta name="description" content="{% block meta_description %}Международный проект о криптовалютах - uniqoins.com. Огромный каталог кранов криптовалюты: Bitcoin (BTC), Litecoin(LTC), Dashcoin (DASH), Dogecoin (XDG) и др. ­ самая актуальная информация, последние новости, аналитика рынка биткоин. Самые доходные satoshi-краны в одном месте - возможность заработка в интернете более 500 000 satoshi в день{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}Биткоин, заработок в интернете, сатоши бесплатно, Bitcoin, BTC, Litecoin, LTC, Dashcoin, DASH, Dogecoin, XDG, курс биткоин, обмен биткоин, Догекоин, Лайткоин, Дашкоин{% endblock %}" />
        <link rel="shortcut icon" href="/static/components/images/favicon.png?1" type="image/png">
        <link rel="icon" href="/static/components/images/favicon.png?1" type="image/png">
        <meta name="google-site-verification" content="pqyo4gBl4z6qUirV5UG0jbFPisfIG4Fc6EN0W8NSUjA" />
        <link rel="stylesheet" type="text/css" href="{% static 'components/css/vendor.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'components/css/main.css' %}" />
{#        <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}
        <link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet' type='text/css'>
    </head>
    <body {% if background_id %} style="background-image: url({% static background_id %})" {% endif %}>
    <nav id="main_menu" class="navbar navbar-default futura-font {% if global_color_inverse_ololo %} navbar-inverse {% endif %}">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% host_url 'main' host 'main_host' %}">
                    <img height="100%" src="{% static 'components/images/logo.png' %}" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% if request.resolver_match.url_name == 'faucets' %}active{% endif %}"><a href="{% host_url 'faucets' host 'main_host' %}">Faucets</a></li>
                    <li class="{% if request.resolver_match.url_name == 'faq' %}active{% endif %}"><a href="{% host_url 'faq' host 'main_host' %}">FAQ</a></li>
                    <li class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}"><a href="{% host_url 'contacts' host 'main_host' %}">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="return false;">BTC: {% btc_currency %}$</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

        <div class="fullheight {% if global_centered %} container {% else %} container-fluid {% endif %}">

            {% block content %}
                <div class="row">

                    <div class="col-sm-11">

                    </div>

                    <div class="col-sm-1">
                        <div class="btn-group-vertical pull-right">
                            <div class="btn btn-lg">
                                <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                            </div>
                            <div class="btn btn-lg">
                                <span class="glyphicon glyphicon-record glyphicon-white" aria-hidden="true"></span>
                            </div>
                            <div class="btn btn-lg">
                                <span class="glyphicon glyphicon-record glyphicon-white" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                </div>
            {% endblock %}

        </div>

        {% if request.resolver_match.url_name != 'hammer' %}
            <div class="container footer">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a href="{% host_url 'main' host 'main_host' %}">Main page</a> |
                        <a href="{% host_url 'faucets' host 'main_host' %}">Faucets</a> |
                        <a href="{% host_url 'faq' host 'main_host' %}">FAQ</a> |
                        <a href="{% host_url 'contacts' host 'main_host' %}">Contacts</a>
                    </div>

                    <div class="col-sm-12 col-md-6 text-right">
                        Copyright {% now "Y" %} UniQoins.com
                    </div>
                </div>
            </div>
        {% endif %}

        <script type="text/javascript" src="{% static 'components/javascripts/main.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'components/javascripts/ZeroClipboard.js' %}"></script>#}

        {% block javascripts %}{% endblock %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-65612852-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>