{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>UniQoins.com</title>
        <link rel="stylesheet" type="text/css" href="{% static 'components/css/vendor.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'components/css/main.css' %}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-2">
                    <a href="{% url 'main' %}">
                        <img class="main-logo" src="{% static 'components/images/logo.png' %}" />
                    </a>
                </div>

                <div class="col-sm-9">
                    <ul class="nav nav-pills">
                      <li role="presentation"><a href="{% url 'faucets' %}">Faucets</a></li>
                      <li role="presentation"><a href="#">Analytics</a></li>
                      <li role="presentation"><a href="#">Mining</a></li>
                      <li role="presentation"><a href="#">Wallets</a></li>
                      <li role="presentation"><a href="#">FAQ</a></li>
                      <li role="presentation"><a href="#">Contact</a></li>
                      <li role="presentation"><a href="#">Blog</a></li>
                    </ul>
                </div>

                <div class="col-sm-1">
                    <div class="btn btn-lg pull-right">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </div>
                </div>

            </div>


            {% block content %}
                <div class="row">

                    <div class="col-sm-11">

                    </div>

                    <div class="col-sm-1">
                        <div class="btn-group-vertical pull-right">
                            <div class="btn btn-lg">
                                <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                            </div>
                            <div class="btn btn-lg">
                                <span class="glyphicon glyphicon-record glyphicon-white" aria-hidden="true"></span>
                            </div>
                            <div class="btn btn-lg">
                                <span class="glyphicon glyphicon-record glyphicon-white" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                </div>
            {% endblock %}

        </div>

        <script type="text/javascript" src="{% static 'components/javascripts/vendor.js' %}"></script>
    </body>
</html>