{% extends 'front/layout.html' %}
{% load staticfiles %}
{% load hosts %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>The larget faucet rotator!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover">
                {% for faucet in faucets %}
                    <tr class="faucets__faucet" data-currency="{{ faucet.currency.id }}"
                            data-captcha="{{ faucet.captcha.id }}"
                            data-wallet="{{ faucet.category.id }}"
                            data-cooldown="{{ faucet.update_time }}">
                        <td>
                            <a href="{% url 'faucet_about' faucet.title_en %}">
                                {{ faucet.title_en }}
                            </a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <div class="btn btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up like-faucet" data-faucet-id="{{ faucet.id }}"></span>
                                </div>
                                <div class="btn btn-sm disabled faucet-rating" id="faucet-rating-{{ faucet.id }}">
                                    {{ faucet.get_rating }}
                                </div>
                                <div class="btn btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down dislike-faucet" data-faucet-id="{{ faucet.id }}"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <b>~</b> {{ faucet.reward_mid }}
                            {% if faucet.reward_min %}
                                <span class="glyphicon glyphicon-triangle-bottom"></span> {{ faucet.reward_min }}
                            {% endif %}
                            {% if faucet.reward_max %}
                                <span class="glyphicon glyphicon-triangle-top"></span> {{ faucet.reward_max }}
                            {% endif %}
                        </td>
                        <td>
                            <div class="label label-warning">wait {{ faucet.update_time }} min.</div>
                            <div class="label label-info">{{ faucet.captcha.title_en }}</div>
                            <div class="label label-info">{{ faucet.category.title_en }}</div>
                        </td>
                        <td width="1%">
                            <a href="{% url 'faucet_about' faucet.title_en %}" class="pull-right btn btn-default btn-sm">About</a>
                        </td>
                        <td width="1%">
                            <a
                                    class="btn btn-default btn-sm faucets__btn_go"
                                    href="{% host_url 'hammer' host 'hammer_host' scheme 'http' %}?start={{ faucet.title_en|urlencode }}"
                                    data-href="{% host_url 'hammer' host 'hammer_host' scheme 'http' %}?start={{ faucet.title_en|urlencode }}">
                                GO! ({{ faucet.ttl }})
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p class="pull-right"><a href="{% host_url 'faucets' host 'main_host' %}">See more faucets...</a></p>
        </div>
    </div>
{% endblock %}