{% extends 'front/layout.html' %}
{% load staticfiles %}

{% block top_title %}Main page | {% endblock %}

{% block meta_description %}Главная страница международного проекта о криптовалютах ­ qoinon.com. Огромный каталог кранов криптовалюты: Bitcoin (BTC), Litecoin(LTC), Dashcoin (DASH), Dogecoin (XDG) и др. - самая актуальная информация, последние новости, аналитика рынка биткоин. Самые доходные satoshi-краны в одном месте ­ возможность заработка в интернете более 500 000 satoshi в день{% endblock %}

{% block content %}
    <div class="row main-page-header">
        <div class="col-sm-12 text-center">
            <h1>The Darkest faucet rotator!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="background-color: rgba(0, 0, 0, 0.4); padding: 10px;">
            <table class="table table-condensed">
                {% for faucet in faucets %}
                    <tr class="faucets__faucet" data-currency="{{ faucet.currency.id }}"
                            data-captcha="{{ faucet.captcha.id }}"
                            data-wallet="{{ faucet.category.id }}"
                            data-cooldown="{{ faucet.update_time }}">
                        <td class="faucets__faucet_about_cell">
                            <a href="{% url 'faucet_about' faucet.title_en %}">
                                {{ faucet.title_en }}
                            </a>
                        </td>
                        <td>
                            <b>~</b>&nbsp;{{ faucet.reward_mid }}
                        </td>
                        <td>
                            <div class="label label-warning">wait {{ faucet.update_time }} min.</div>
                            <div class="label label-info">{{ faucet.captcha.title_en }}</div>
                            <div class="label label-primary">{{ faucet.category.title_en }}</div>
                        </td>
                        <td width="1%">
                            <a href="{% url 'faucet_about' faucet.title_en %}" class="pull-right btn btn-default btn-sm">About</a>
                        </td>
                        <td width="1%">
                            <a
                                    class="btn btn-default btn-sm faucets__btn_go"
                                    href="{% faucet.get_absolute_url() %}"
                                    data-href="{% faucet.get_absolute_url() %}">
                                GO! {% if faucet.ttl > 0 %} ({{ faucet.ttl }} min.) {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p class="pull-right"><a href="{% url 'faucets' %}">See more faucets...</a></p>
        </div>
    </div>
{% endblock %}
