{% extends 'front/layout.html' %}
{% load staticfiles %}
{% load hosts %}

{% block meta_keywords %}{{ faucet.title_en }}, {{ faucet.currency.title_full_en }}, satoshi на {{ faucet.title_en }}, быстрый заработок в интернете с {{ faucet.title_en }}, заработать биткоин на {{ faucet.title_en }}{% endblock %}
{% block meta_description %}{{ faucet.title_en }} - полное описание сайта и отзывы, {{ faucet.currency.title_full_en }}. Заработок в интернете с помощью {{ faucet.title_en }}.{% endblock %}

{% block top_title %}About {{ faucet.title_en }}, reviews and options | {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ faucet.title_en }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            {% if faucet.image.name == '#' %}
                <img width="100%" src="/static/components/images/noimage.png">
            {% else %}
                <img width="100%" src="{{ faucet.image.url }}">
            {% endif %}
            <br />
            <span class="glyphicon glyphicon-thumbs-up"></span> {{ faucet.likes }} &nbsp;
            <span class="glyphicon glyphicon-thumbs-down"></span> {{ faucet.dislikes }}
        </div>
        <div class="col-sm-8">
            <p>Cryptocurrency: <span>{{ faucet.currency }}</span></p>

            <p>Now pays:
                {% if faucet.now_pays %} <span class="text-success">YES</span>
                {% else %} <span class="text-danger">NO</span>
                {% endif %}
            </p>

            <p>Malfunction:
                {% if faucet.malfunction %} <span class="text-danger">YES</span>
                {% else %} <span class="text-success">NO</span>
                {% endif %}
            </p>

            <p>Faucet type: {{ faucet.category }}</p>
            <p>Captcha type: {{ faucet.captcha }}</p>
            <p>Pays every: {{ faucet.update_time }} minutes</p>
            <a class="btn btn-default btn-lg" href="{% host_url 'hammer' host 'hammer_host' scheme 'http' %}?start={{ faucet.title_en|urlencode }}">VISIT</a>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'uniqoins';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}