{% extends 'front/layout.html' %}
{% load staticfiles %}
{% load hosts %}

{% block meta_keywords %}{{ faucet.title_en }}, {{ faucet.currency.title_full_en }}, satoshi на {{ faucet.title_en }}, быстрый заработок в интернете с {{ faucet.title_en }}, заработать биткоин на {{ faucet.title_en }}{% endblock %}
{% block meta_description %}{{ faucet.title_en }} - полное описание сайта и отзывы, {{ faucet.currency.title_full_en }}. Заработок в интернете с помощью {{ faucet.title_en }}.{% endblock %}

{% block top_title %}About {{ faucet.title_en }}, reviews and options | {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ faucet.title_en }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            {% if faucet.image.name == '#' %}
                <img width="100%" src="/static/components/images/noimage.png">
            {% else %}
                <img width="100%" src="{{ faucet.image.url }}">
            {% endif %}
            <br />
        </div>
        <div class="col-sm-8">
            <p>Cryptocurrency: <span>{{ faucet.currency }}</span></p>

            <p>Now pays:
                {% if faucet.now_pays %} <span class="text-success">YES</span>
                {% else %} <span class="text-danger">NO</span>
                {% endif %}
            </p>

            <p>Malfunction:
                {% if faucet.malfunction %} <span class="text-danger">YES</span>
                {% else %} <span class="text-success">NO</span>
                {% endif %}
            </p>

            <p>Faucet type: {{ faucet.category }}</p>
            <p>Captcha type: {{ faucet.captcha }}</p>
            <p>Pays every: {{ faucet.update_time }} minutes</p>
            <a class="btn btn-default btn-lg" href="{{ faucet.get_absolute_url }}">VISIT</a>
            
            <div class="addthis_sharing_toolbox"></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56b982d74ac4832b" async="async"></script>

            <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//qoinon.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}
