{% extends 'front/layout.html' %}
{% load hosts %}

{% block content %}
    <br />
    <div class="row">
        <div class="col-sm-12">
            <h1>Faucets</h1>
            <p>Select a familiar faucet and start!</p>
        </div>
    </div>

    <div class="faucets__filter">
        <form>
            <input id="faucets__currency_input" type="hidden" name="currency" value="">
            <input id="faucets__time_input" type="hidden" name="time" value="">
            <input id="faucets__captcha_input" type="hidden" name="captcha" value="">
            <input id="faucets__wallet_input" type="hidden" name="wallet" value="">
        </form>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group-justified">
                    {% for currency in currencies %}
                        <div class="btn btn-default faucets__filter_btn faucets__filter_btn_currency" data-currency="{{ currency.id }}">
                            {{ currency.title_full_en }} <br /> faucets
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> <br />

        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Times
                        <span class="faucets__filter_time_text"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="faucets__filter_btn_time" data-value="0"><a href="#">< 30</a></li>
                        <li class="faucets__filter_btn_time" data-value="1"><a href="#">30 - 60</a></li>
                        <li class="faucets__filter_btn_time" data-value="2"><a href="#">61 - 180</a></li>
                        <li class="faucets__filter_btn_time" data-value="3"><a href="#">181 - 240</a></li>
                        <li class="faucets__filter_btn_time" data-value="4"><a href="#">241 - 720</a></li>
                        <li class="faucets__filter_btn_time" data-value="5"><a href="#">> 720</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Captchas
                        <span class="faucets__filter_captcha_text"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for captcha in captchas %}
                            <li class="faucets__filter_btn_captcha" data-value="{{ captcha.id }}"><a href="#">{{ captcha.title_en }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wallets
                        <span class="faucets__filter_wallet_text"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li class="faucets__filter_btn_wallet" data-value="{{ category.id }}"><a href="#">{{ category.title_en }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> <br />
    </div>


    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover">
                {% for faucet in faucets %}
                    <tr>
                        <td>
                            <a href="{% url 'faucet_about' faucet.title_en %}">
                                {{ faucet.title_en }}
                            </a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <div class="btn btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </div>
                                <div class="btn btn-sm disabled">
                                    {{ faucet.get_rating }}
                                </div>
                                <div class="btn btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <b>~</b> {{ faucet.reward_mid }}
                            {% if faucet.reward_min %}
                                <span class="glyphicon glyphicon-triangle-bottom"></span> {{ faucet.reward_min }}
                            {% endif %}
                            {% if faucet.reward_max %}
                                <span class="glyphicon glyphicon-triangle-top"></span> {{ faucet.reward_max }}
                            {% endif %}
                        </td>
                        <td>
                            <div class="label label-warning">wait {{ faucet.update_time }} min.</div>
                            <div class="label label-info">{{ faucet.captcha.title_en }}</div>
                            <div class="label label-info">{{ faucet.category.title_en }}</div>
                        </td>
                        <td width="1%">
                            <a href="{% url 'faucet_about' faucet.title_en %}" class="pull-right btn btn-default btn-sm">About</a>
                        </td>
                        <td width="1%">
                            <a class="btn btn-default btn-sm" href="{% host_url 'hammer' host 'hammer_host' scheme 'http' %}?start={{ faucet.title_en|urlencode }}">GO!</a>
                        </td>
                    </tr>

{#                    <tr>#}
{#                        <td><a href="{% url 'faucet_about' faucet.title_en %}">{{ faucet.title_en }}</a></td>#}
{#                        <td>#}
{#                            <div class="btn-group">#}
{#                                <div class="btn">#}
{#                                    <span class="glyphicon glyphicon-thumbs-up"></span>#}
{#                                </div>#}
{#                                <div class="btn disabled">#}
{#                                    {{ faucet.get_rating }}#}
{#                                </div>#}
{#                                <div class="btn">#}
{#                                    <span class="glyphicon glyphicon-thumbs-down"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </td>#}
{#                        <td>{{ faucet.currency }}</td>#}
{#                        <td>{{ faucet.category }}</td>#}
{#                        <td>{{ faucet.update_time }}</td>#}
{#                        <td>{{ faucet.reward_mid }}</td>#}
{#                        <td>{{ faucet.reward_min }}</td>#}
{#                        <td>{{ faucet.reward_max }}</td>#}
{#                        <td>{{ faucet.malfunction }}</td>#}
{#                        <td>{{ faucet.minimum_withdraw }}</td>#}
{#                        <td>{{ faucet.views }}</td>#}
{#                        <td><a href="{% host_url 'hammer' host 'hammer_host' scheme 'http' %}?start={{ faucet.title_en|urlencode }}">GO!</a></td>#}
{#                    </tr>#}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
