{% extends 'front/layout.html' %}
{% load hosts %}

{% block top_title %}Faucets list | {% endblock %}

{% block meta_description %}Biggest faucet rotator Qoinon.com - BTC, DOGE, LTC, DASH faucets. You can get free bitcoin, dogecoin, dashcoin, litecoin currency. All best faucets bitcoin.{% endblock %}
{% block meta_keywords %}Bitcoin, make bitcoin, free, list, Big faucet collection, faucet, collection, wallet, earn, earning bitcoin, free, bitcoin faucets, satoshi, Dogecoin, Litecoin, BTC, LTC, DXG, Doge, rotator{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Faucets</h1>
            <p>Select a familiar faucet and start!</p>
        </div>
    </div>

    <div class="faucets__filter">

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified faucets__filter_container big-btns">
                    {% for currency in currencies %}
                        {% if currency.display %}
                            <div class="btn btn-default faucets__filter_btn faucets__filter_btn_currency {% if currency.title_short_en == 'BTC' %} faucets__filter_btn--active {% endif %}"
                                 data-currency="{{ currency.id }}">
                                {{ currency.title_full_en }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div> <br />

    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed">
                {% for faucet in faucets %}
                    <tr class="faucets__faucet" data-currency="{{ faucet.currency.id }}"
                            data-captcha="{{ faucet.captcha.id }}"
                            data-wallet="{{ faucet.category.id }}"
                            data-cooldown="{{ faucet.update_time }}"
                            style="{% if faucet.currency.title_short_en != 'BTC' %} display: none {% endif %}">
                        <td class="faucets__faucet_about_cell">
                            <a href="{% url 'faucet_about' faucet.title_en %}">
                                {{ faucet.title_en }}
                            </a>
                        </td>
                        <td>
                            <b>~</b>&nbsp;{{ faucet.reward_mid }}
                        </td>
                        <td class="hidden-xs">
                            <div class="label label-warning">wait {{ faucet.update_time }} min.</div>
                            <div class="label label-info">{{ faucet.captcha.title_en }}</div>
                            <div class="label label-primary">{{ faucet.category.title_en }}</div>
                        </td>
                        <td width="1%" class="hidden-xs">
                            <a href="{% url 'faucet_about' faucet.title_en %}" class="pull-right btn btn-default btn-sm">About</a>
                        </td>
                        <td width="1%">
                            <a
                                    class="btn btn-default btn-sm faucets__btn_go"
                                    href="{{ faucet.get_absolute_url }}"
                                    data-href="{{ faucet.get_absolute_url }}">
                                {% if faucet.ttl > 0 %} ({{ faucet.ttl }} min.) {% else %} GO! {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
