.faucets {
  &__filter {
    &_container {
      border-collapse: collapse;
    }

    &_btn {

    }

    &_btn--active {
      background-color: $component-active-bg;
      color: $component-active-color;
    }
  }

  &__faucet td {
      vertical-align: middle !important;
  }

  &__likes_area {
    text-align: center;
  }

  &__faucet_about_cell {
    text-align: center;
  }
}

#disqus_thread {
  margin-top: 50px;
}