.faucets {
  &__filter {
    &_container {
      border-collapse: collapse;
    }

    &_btn {

    }

    &_btn--active {
      background-color: $component-active-bg;
      color: $component-active-color;
    }
  }
}