@import "../vendor/bootstrap_variables";

.hammer__faucet {
  border: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding-bottom: 153px;
}

.hammer__menu {
  margin-bottom: 5px;

  h1 {
    margin-top: 0;
    font-size: 28px;
  }

  table {
    td {
      padding: 4px !important;
      vertical-align: middle !important;
      border-top: none;
    }
  }
}

.next-button {
  display: block;
  position: absolute;
  right: 15px;
  height: 100%;
  width: 5%;
  margin: 0;
  padding: 5px;
  background: $brand-info;
  opacity: 0.8;
  z-index: 5;
  color: white;

  background-image: url(/static/components/images/rarrow.png);
  background-repeat: repeat-y;
  background-size: contain;
}

.error-iframe {
  font-size: $font-size-h1;
}

.moderator-panel {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background-color: #006666;
  padding: 2px;

  .well-moder {
    display: inline-block;
    margin-bottom: 0;
    padding: 2px;

    label {
      margin-bottom: 0;
    }
  }
}