.uni-inverse {
  body {
    background-color: #222222;
    color: #eeeeee;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  a {
    color: #eeeeee;
  }

  .btn-default {
    border-color: #000000;
    background-color: #181818;
  }
}