@import "pages/main";
@import "pages/hammer";
@import "pages/faucets";
@import "pages/faq";
@import "inverse";

@font-face {
    font-family: Futura; /* Имя шрифта */
    src: url(/static/components/fonts/Futura.ttf); /* Путь к файлу со шрифтом */
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif !important;
  //padding-top: 1%;
}

.fullheight {
  height: 100%;
}

.glyphicon-white {
  opacity: 0.3;
}

//.navbar-nav  > li > a {
//  padding-top:    30px;
//  padding-bottom: 30px;
//}

.navbar-brand {
  float: left;
  padding: $navbar-brand-padding-vertical $navbar-brand-padding-horizontal;
}

.big-btns > .btn {
  border-width: 3px;
}

.futura-font, h1 {
  font-family: Futura;
  font-weight: 500;
}