Babel==2.2.0
Django==1.9.1
django-bower==5.0.4
django-flat-theme==1.1.3
django-hosts==1.4
django-jinja==2.1.1
django-recaptcha==1.0.5
django-redis==4.3.0
django-summernote==0.7.3
ecdsa==0.13
Fabric==1.10.2
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.7
paramiko==1.16.0
Pillow==3.1.0
psycopg2==2.6.1
pycrypto==2.6.1
pytz==2015.7
redis==2.10.5
requests==2.9.1
six==1.10.0
wheel==0.26.0
