{% extends 'front/layout.html' %}

{% block content %}
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <div class="row hammer__menu">
        <div class="col-sm-3 text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ faucet.title_en }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ faucet.likes }} &nbsp;
                    <span class="glyphicon glyphicon-thumbs-down"></span> {{ faucet.dislikes }} &nbsp;
                    <span class="glyphicon glyphicon-user"></span> 5
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <span class="label label-default">Default</span>
                    <span class="label label-success">Default</span>
                    <span class="label label-success">Default</span>
                    <span class="label label-success">Default</span>
                    <span class="label label-success">Default</span>
                    <span class="label label-success">Default</span>
                    <span class="label label-success">Default</span>
                    <span class="label label-success">Default</span>
                </div>
            </div>
        </div>

        <div class="col-sm-1">
            Reward <br />
            <b>~</b> {{ faucet.reward_mid }} <br />
            {% if faucet.reward_min %}
                <span class="glyphicon glyphicon-triangle-bottom"></span> {{ faucet.reward_min }} <br />
            {% endif %}
            {% if faucet.reward_max %}
                <span class="glyphicon glyphicon-triangle-top"></span> {{ faucet.reward_max }} <br />
            {% endif %}
        </div>

        <div class="col-sm-2 text-center">
            Pays every {{ faucet.update_time }} minutes <br />
            Next: <b>535</b> sites ~ 94543 satishi left
        </div>

        <div class="col-sm-4">
            <div class="btn-group pull-right">
                <div class="btn btn-lg btn-default">Past BTC address</div>
                <div class="btn btn-lg btn-default">Edit</div>
            </div>

            <div class="btn btn-lg btn-default pull-left">
                Faucetbox balance
            </div>

            <div class="pull-left">
                &nbsp;
                &nbsp;
                &nbsp;
            </div>

            <div class="btn btn-lg btn-default pull-left">
                Help
            </div>

        </div>
    </div>

    <div class="row hammer fullheight">
        <a href="{{ next_link }}" class="next-button"> </a>
        {% if faucet.iframe_ready %}
            <iframe class="hammer__faucet fullheight" src="{{ faucet.real_href }}"></iframe>
        {% else %}
            <div class="text-center error-iframe">
                <p>This faucet doen't work in iframe.</p>
                <p><a target="_blank" href="{{ faucet.real_href }}">Visit it here!</a></p>
            </div>
        {% endif %}

        {% if is_moderator %}
            <div class="moderator-panel">
                <div class="btn btn-sm btn-danger">Не показывать в iframe</div>
                <div class="btn btn-sm btn-success">Показывать в iframe</div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
{#        $(function(){#}
{#            var $hammer = $(".hammer");#}
{#            var hTop = $hammer.offset().top;#}
{#            var hReal = hTop - $(window).scrollTop(); //position of the ele w.r.t window#}
{#            var windowHeight = $(window).height();#}
{#            $hammer.height(windowHeight - hReal - 10);#}
{#        });#}
    </script>
{% endblock %}